@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
$praimery_font: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;900&display=swap');
$secondary_font: 'Frank Ruhl Libre', serif;
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap');
$podkova: 'Podkova', serif;
$praimery_color: #000000;